.filters-container {
    padding: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter-item {
    display: flex;
    align-items: center;
}

.filter-item p {
    color: #919191;
    font-weight: bolder;
}

.open-checkbox {
    color: #919191;
    font-weight: bolder;
}

.filter-item select {
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 0px 10px;
    border: solid 2px #919191;
    color: #919191;
}
